body {
    font-family: "Inter", sans-serif;
    background-color: #22577a;
    margin: 0;
    padding: 0 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo img {
    max-height: 100px; /* Ajuste a altura conforme necessário */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #22577a;
}

main {
    padding-top: 20px;
    background-color: #fff;
}

 h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #000000;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}






