.theme-switcher {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.theme-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
    display: inline-block;
}



#problema {
    text-align: center; /* Centraliza o título */
    padding: 20px; /* Adiciona um pouco de espaço em volta da seção */
}


.content-wrapper {
    display: flex; /* Habilita o Flexbox para alinhar card e imagem */
    justify-content: center; /* Centraliza o conteúdo (card e imagem) */
    align-items: center; /* Alinha verticalmente no centro */
    gap: 40px; /* Espaço entre o card e a imagem */
    max-width: 1200px; /* Largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o content-wrapper na página */
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
}

.card {
    flex: 1; /* Permite que o card ocupe o espaço disponível */
    background-color: white; /* Cor de fundo do card */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 30px; /* Espaço interno no card */
    text-align: left; /* Alinha o texto à esquerda dentro do card */
    max-width: 500px; /* Largura máxima para o card */
    transition: transform 0.3s ease-in-out; /* Transição suave ao passar o mouse */
        }

.card:hover {
     transform: translateY(-5px); /* Efeito ao passar o mouse */
    }



.card p {
    font-size: 1.3rem;
    color: #000000; /* Cor do texto */
}

.imagem-container {
    flex: 1; /* Permite que a imagem ocupe o espaço disponível */
    max-width: 100%; /* Largura máxima para o container da imagem */
    display: flex; /* Garante que a imagem se ajuste */
    justify-content: center; /* Centraliza a imagem se houver espaço extra */
}

.imagem-container img {
     width: 500px; /* Define a largura da imagem */
    height: 300px; /* Define a altura da imagem */
    border-radius: 8px; /* Cantos arredondados para a imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para a imagem */
}

#tecnologias {
    text-align: center;
    padding: 40px 20px;
}


#tecnologias .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que os cards quebrem linha em telas menores */
    gap: 20px; /* Espaço entre os cards */
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o container de cards */
}

#tecnologias .tech-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px; /* Largura fixa para os cards */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex; /* Adicionado para controle de alinhamento interno */
    flex-direction: column; /* Adicionado para empilhar conteúdo verticalmente */
}

#tecnologias .tech-card:hover {
    transform: translateY(-5px);
}

#tecnologias .tech-card h3 {
    font-size: 2rem;
    color: #22577a; /* Cor azul para o título da tecnologia */
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 4.8rem; /* Altura mínima para o título */
}

#tecnologias .tech-card p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 15px;
    flex-grow: 1; /* Permite que o parágrafo cresça para preencher o espaço */
}

#tecnologias .tech-card img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    margin-top: auto;
}

#objetivos {
    text-align: center;
    padding: 40px 20px;
}


#objetivos .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#objetivos .tech-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px; /* Largura fixa para os cards */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex; /* Adicionado para controle de alinhamento interno */
    flex-direction: column; /* Adicionado para empilhar conteúdo verticalmente */
}

#objetivos .tech-card:hover {
    transform: translateY(-5px);
}

#objetivos .tech-card h3 {
    font-size: 2rem;
    color: #22577a; 
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 4.8rem; 
}

#objetivos .tech-card p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 15px;
    flex-grow: 1; 
}

#publico-alvo {
    text-align: center;
    padding: 40px 20px;
}

#publico-alvo .card li {
    font-size: 1.1rem;
    color: #000000; 
}

#publico-alvo .titulo-li {
    font-size: 1.3rem;
    display: block; 
    font-weight: bold;
    color: #22577a; 
    margin-bottom: 5px; 
}

#beneficios {
    text-align: center;
    padding: 40px 20px;
}


#beneficios .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#beneficios .tech-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px; /* Largura fixa para os cards */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

#beneficios .tech-card:hover {
    transform: translateY(-5px);
}

#beneficios .tech-card h3 {
    font-size: 2rem;
    color: #22577a; /* Cor azul para o título da tecnologia */
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 4.8rem; /* Altura mínima para o título */
}

#beneficios .tech-card p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 15px;
    flex-grow: 1;
}

#dia-a-dia {
    text-align: center;
    padding: 40px 20px;
}


/* Classes de Tema para o Body */
body.theme-default {
    background-color: #22577A;
}

body.theme-light {
    background-color: #f0f0f0;
}

body.theme-light main {
    background-color: #ffffff;
}

body.theme-dark {
    background-color: #333333;
}

body.theme-dark main {
    background-color: #444444;
}

body.theme-dark li,
body.theme-dark nav ul li a {
    color: #000000; 
}

body.theme-dark nav ul li a:hover {
    color: #22577a;
}

body.theme-dark h2,
body.theme-dark h3 {
    color: #fff;
}

body.theme-dark p {
    color: #e0e0e0;
}

body.theme-dark  .card {
    background-color: #555555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
 body.theme-dark #tecnologias .tech-card {
    background-color: #505050; /* Cor de fundo do card de tecnologia no tema escuro */
    border: 1px solid #666;
}

body.theme-dark #tecnologias .tech-card h3 {
    color: #87cefa; /* Cor do título do card de tecnologia no tema escuro */
}

body.theme-dark #tecnologias .tech-card p {
    color: #e0e0e0; /* Cor do texto do card de tecnologia no tema escuro */
}

 body.theme-dark #objetivos .tech-card {
    background-color: #505050; /* Cor de fundo do card de tecnologia e objetivos no tema escuro */
    border: 1px solid #666;
}

body.theme-dark #objetivos .tech-card h3 {
    color: #87cefa; /* Cor do título do card de objetivos no tema escuro */
}

body.theme-dark #objetivos .tech-card p {
    color: #e0e0e0; /* Cor do texto do card de objetivos no tema escuro */
}

body.theme-dark #publico-alvo .card .titulo-li {
   color: #87cefa; 
}

body.theme-dark #publico-alvo .card li {
    color: #e0e0e0; /* Cor do texto do card de tecnologia no tema escuro */
}

 body.theme-dark #beneficios .tech-card {
    background-color: #505050; /* Cor de fundo do card de tecnologia no tema escuro */
    border: 1px solid #666;
}

body.theme-dark #beneficios .tech-card h3 {
    color: #87cefa; /* Cor do título do card de tecnologia no tema escuro */
}

body.theme-dark #beneficios .tech-card p {
    color: #e0e0e0; /* Cor do texto do card de tecnologia no tema escuro */
}